\.ipynb_checkpoints
\datasets
20_ML_Telecom_customer_loss.ipynb
20_ML_Telecom_customer_loss_.ipynb
20_ML_Telecom_customer_loss_0.ipynb
20_ML_Telecom_customer_loss_1.ipynb
20_ML_Telecom_customer_loss_2.ipynb
20_ML_Telecom_customer_loss_3.ipynb
20_ML_Telecom_customer_loss_4NN.ipynb
20_ML_Telecom_customer_loss_5NN.ipynb
вывод ячейка.txt